.content {
  display: flex;
  max-width: $mainWidth;
  min-height: 100%;

  @include breakpoint($desktop) {
    width: $mainWidthTablet;
    max-width: $mainWidthTablet;
    margin: 0 auto;
  }

  @include breakpoint($tablet) {
    width: $mainWidthMobile;
    max-width: $mainWidthMobile;
  }
}

.header {
  flex-basis: 100%;
}

.container {
  width: 100%;
  max-width: $containerWidth;
}

.main {
  margin: 0 auto;
  padding-top: 40px;
  width: 100%;
  max-width: $containerWidth;

  @include breakpoint($tablet) {
    padding-top: 20px;
  }
}

.mobile-menu {
  display: none;

  @include breakpoint($desktop) {
    font-size: 20px;
    font-weight: 500;
    color: $cGrey;
    z-index: 5;
    display: flex;
    align-items: center;
    position: absolute;
    right: 40px;
    top: 40px;
  }

  @include breakpoint($tablet) {
    right: 20px;
    top: 20px;
  }
}

.header {
  flex-basis: 100%;
}

.footer {
  flex-basis: 100%;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $cWhite;
  display: flex;
  align-items: center;
  justify-content: center;
}