label {
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-bottom: 40px;

  & input[type='radio'] {
    margin-right: 15px;
  }

  & input[type='text'] {
    border: 2px solid #333333;
    border-radius: 10px;
    width: 100%;
    max-width: $containerWidth;
    height: 42px;
    padding: 10px 15px;

    &::placeholder {
      font-size: 16px;
      font-weight: 400;
      color: $cGrey;
    }
  }

  &-control {
    margin-bottom: 10px;
  }
}

.form-additional {
  display: none;
  margin: 20px 0;
  
  &.active {
    display: flex;
  }
}