.page-title {
  margin-bottom: 78px;
}

.form-title {
  margin-bottom: 43px;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}