$cGrey: #ABABAB;
$cBlack: #333;
$cBlue: #8EA7FF;
$cWhite: #fff;
$cWhite2: #F8F8F8;
$cRed: #FF6767;
$cPopupBg: #0000004D;

$gradient: linear-gradient(90.55deg, #8EA7FF 0%, #7291FF 100%);

$containerWidth: 680px; //680px for 1440
$mainWidth: 66.7%;
$sidebarWidth: 33.3%;

$paddingTablet: 40px;
$mainWidthTablet: calc(100% - #{$paddingTablet} * 2);
$paddingMobile: 20px;
$mainWidthMobile: calc(100% - #{$paddingMobile} * 2);

$desktop: 1440px;
$tablet: 834px;
$mobile: 380px;
