@import "vars";
@import "mixins";
@import "vendor/reset";
@import "vendor/normalize";

body {
  font-family: 'Roboto', sans-serif;
  color: $cBlack;
}

.page {
  display: flex;
  min-height: 100%;
  height: 100%;
  flex-direction: column;
}

@import 'common';
@import 'headers';
@import 'form';
@import 'btn';
@import 'categories';
@import 'joke';