<div class="joke">
    <div class="joke-actions">
        <span class="like"></span>
    </div>
    <div class="joke-icon">
        <div class="circle">
            <img src="assets/images/svg/message.svg" alt="message">
        </div>
    </div>
    <div class="joke-data">
        <div class="joke-id">
            <span>ID: </span><a href="#">XNaAxUduSw6zANDaIEab7A</a>
        </div>
        <div class="joke-text">
            No one truly knows who's Chuck Norris' real father. No one is biologically strong enough for this. He must've conceived himself.
        </div>
        <div class="joke-footer">
            <div class="joke-updated">
                <span>Last update: <b>1923 hours ago</b></span>
            </div>
            <div class="joke-category category-tag">Celebrity</div>
        </div>
    </div>
</div>