@import "vars";
@import "mixins";
@import "vendor/reset";
@import "vendor/normalize";

body {
  font-family: 'Roboto', sans-serif;
  color: $cBlack;
}

.background {
  &:after {
    @include breakpoint($desktop) {
      content: '';
    }
    position: fixed;
    background-color: $cPopupBg;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
}

.page {
  display: flex;
  min-height: 100%;
  height: fit-content;
  flex-direction: column;
}

@import 'src/assets/styles/common';
@import 'src/assets/styles/headers';
//@import 'src/assets/styles/form';
@import 'src/assets/styles/btn';
@import 'src/assets/styles/categories';
@import 'src/assets/styles/joke';
@import 'src/assets/styles/burger';
@import 'src/assets/styles/sidebar';